@model List<Cintera.DAL.View1>
@{
    ViewBag.Title = "Home Page";
}


<table class="table table-bordered table-striped">
    <tr>
        <th>Item 1</th>
        <th>Item 2</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Child
            </td>
        </tr>
    }
    
</table>

